body {
  font-family: "Roboto", sans-serif;
  background: gray;
}

a:hover {
  color: #4d5ae5;
}

.headerlist {
  list-style: none;
}

.link {
  font-family: inherit, sans-serif;
  text-decoration: none;
  list-style: none;
}

.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: #2e2f42;
}

.logo {
  color: #4d5ae5;
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.contacts {
  text-decoration: none;
  font-family: "inherit, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* HERO SECTION */

.hero {
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0;
}

.header-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  display: flex;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttontxt {
}

/* ABOUT SECTION */
.about {
}

.about-title-top {
}

.about-list {
  list-style: none;
}

.about-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SERVISE SECTION */

.service {
}

.service-title {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.service-img {
  list-style: none;
}

/* TEAM SECTION */

.team {
}

.team-title-top {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.team-photos {
  list-style: none;
}

.team-title {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team-txt {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* FOOTER */

.footer {
}

.logo-link-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: #2e2f42;
}

.footer-txt {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}

/* Portfolio  Page*/
/* Section Button Filtres */
.filter-btn-list {
  list-style: none;
}

.filter-button {
  color: #4d5ae5;
  background: #e7e9fc;
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.filter-button:hover {
  background-color: #4d5ae5;
  color: #ffffff;
}

.buttona {
}

.buttonb {
}

.buttonc {
}

.buttond {
}

.buttone {
}

/* Section Row-a,b,c */

ul {
  list-style: none;
}

.row-a {
}

.row-imga {
}

.row-title {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.row-txt {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.row-page-txt {
  font-family: inherit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.row-b {
}

.row-imgb {
}

.row-c {
}

.row-imgc {
}
